h1, p {
  font-family: Lato;
}

html {
  background-color: rgb(104, 103, 103);
}

.header{
  display: flex;
  justify-content: center;
}
.buttonContainerflex{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
}

.buttonContainergrid{
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin-left: 10%;
  margin-right: 10%;
}

.animeButtons{
  text-align: center;
}



/***************Tab Container****************************/

.tabheaders{
  text-align: left;
  padding-top: 10px;
  padding-bottom: 30px;
  font-size: 30px;
  background: #333;
  color: blanchedalmond;
  border-right: 1px solid rgb(0, 0, 0);
  border-top: 3px solid rgb(0, 0, 0);
}


.active{
  text-align: left;
  padding-top: 10px;
  padding-bottom: 30px;
  font-size: 30px;
  background: #333;
  color: blanchedalmond;
  border-right: 1px solid rgb(0, 0, 0);
  border-top: 3px solid rgb(247, 65, 65);
  border-left: 3px solid rgb(247, 65, 65);
}

.buttonoptions{
  
  text-align: center;
  color: aliceblue;
  min-height: 400px;
  background: #333;
  margin-left: 10%;
  margin-right: 10%;
  
}
.motionoptions{

  text-align: center;
  display: flex;
  color: aliceblue;
  min-height: 400px;
  background: rgb(70, 57, 57);
  margin-left: 10%;
  margin-right: 10%;
  
}

.output {

  background: rgb(87, 16, 16);
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  font-family: "Arial Black", Gadget, sans-serif;
font-size: 25px;
letter-spacing: -1px;
word-spacing: -2.8px;
color: #FFFFFF;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}

/***************Motions**********************/

.qcf{
  width: 80px;
  height: 80px;
  text-align: center;
  background: no-repeat;
  background-image: url("https://stackblitz.com/files/react-zw1tsv/github/aidenspro/react-zw1tsv/master/src/Motions/qcf.PNG");
  flex-grow: 1;
  background-size:     cover;
}
.qcb{
  width: 80px;
  height: 80px;
  text-align: center;
  background: no-repeat;
  background-image: url("https://stackblitz.com/files/react-zw1tsv/github/aidenspro/react-zw1tsv/master/src/Motions/qcb.PNG");
  flex-grow: 1;
  background-size:     cover;
  background-position: center center;   
}

.hcf{
  width: 80px;
  height: 80px;
  text-align: center;
  background: no-repeat;
  background-image: url("https://stackblitz.com/files/react-zw1tsv/github/aidenspro/react-zw1tsv/master/src/Motions/hcf.PNG");
  flex-grow: 1;
  background-size:     cover;
  background-position: center center;   
}

.hcb{
  width: 80px;
  height: 80px;
  text-align: center;
  background: no-repeat;
  background-image: url("https://stackblitz.com/files/react-zw1tsv/github/aidenspro/react-zw1tsv/master/src/Motions/hcb.PNG");
  flex-grow: 1;
  background-size:     cover;
  background-position: center center;   
}

.srk{
  width: 80px;
  height: 80px;
  text-align: center;
  background: no-repeat;
  background-image: url("https://stackblitz.com/files/react-zw1tsv/github/aidenspro/react-zw1tsv/master/src/Motions/srk.PNG");
  flex-grow: 1;
  background-size:     cover;
  background-position: center center;   
}


.forward{
  width: 80px;
  height: 80px;
  text-align: center;
  background: no-repeat;
  background-image: url("https://stackblitz.com/files/react-zw1tsv/github/aidenspro/react-zw1tsv/master/src/Motions/forward.PNG");
  flex-grow: 1;
  background-size:     cover;
  background-position: center center;   
}

.back{
  width: 80px;
  height: 80px;
  text-align: center;
  background: no-repeat;
  background-image: url("https://stackblitz.com/files/react-zw1tsv/github/aidenspro/react-zw1tsv/master/src/Motions/back.PNG");
  flex-grow: 1;
  background-size:     cover;
  background-position: center center;   
}
.arcsys{
  width: 150px;
  height: 80px;
  text-align: center;
  background: no-repeat;
  background-image: url("https://stackblitz.com/files/react-zw1tsv/github/aidenspro/react-zw1tsv/master/src/Motions/arcsys.PNG");
  flex-grow: 1;
  background-size:     cover;
  background-position: center center;   
}


/*----------------------------Buttons----------------------*/

.punch{
  width: 80px;
  height: 80px;
  text-align: center;
  background: no-repeat;
  background-image: url("https://stackblitz.com/files/react-zw1tsv/github/aidenspro/react-zw1tsv/master/src/buttons/punch.PNG");
  flex-grow: 1;
  background-size:     cover;
  background-position: center center;   
}
.kick{
  width: 80px;
  height: 80px;
  text-align: center;
  background: no-repeat;
  background-image: url("https://stackblitz.com/files/react-zw1tsv/github/aidenspro/react-zw1tsv/master/src/buttons/kick.PNG");
  flex-grow: 1;
  background-size:     cover;
  background-position: center center;   
}
.slash{
  width: 80px;
  height: 80px;
  text-align: center;
  background: no-repeat;
  background-image: url("https://stackblitz.com/files/react-zw1tsv/github/aidenspro/react-zw1tsv/master/src/buttons/slash.PNG");
  flex-grow: 1;
  background-size:     cover;
  background-position: center center;   
}
.hslash{
  width: 80px;
  height: 80px;
  text-align: center;
  background: no-repeat;
  background-image: url("https://stackblitz.com/files/react-zw1tsv/github/aidenspro/react-zw1tsv/master/src/buttons/hslash.PNG");
  flex-grow: 1;
  background-size:     cover;
  background-position: center center;   
}
.dust{
  width: 80px;
  height: 80px;
  text-align: center;
  background: no-repeat;
  background-image: url("https://stackblitz.com/files/react-zw1tsv/github/aidenspro/react-zw1tsv/master/src/buttons/dust.PNG");
  flex-grow: 1;
  background-size:     cover;
  background-position: center center;   
}